{% extends "base.html" %}
{% load cms_tags sekizai_tags %}
{% load url from future %}

{% block base_content %}
  <h1>Example project</h1>
  <h3>Thanks for trying cmsplugin-nivoslider!</h3>
  <p>
    You can edit the following slider by
    <a href="?edit">enabling edit mode</a>.
    You can also edit more settings about this page in
    <a href="{% url 'admin:index' %}">the back office.</a>
  </p>

  <p>Use this:</p>

  <dl>
    <dt>Username</dt>
    <dd>admin</dd>
    <dt>Password</dt>
    <dd>admin</dd>
  </dl>

  {% addtoblock 'js' %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  {% endaddtoblock %}

  {% placeholder example_content %}

{% endblock %}
